@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Exam.Permissions
@using Exam.Web.Pages.ChallengeUserTotals
@using Exam.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Exam.Localization
@inject IHtmlLocalizer<ExamResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ChallengeUserTotals"].Value;
    PageLayout.Content.MenuItemName = ExamMenus.ChallengeUserTotals;
}

@section styles
{

}

@section scripts
{
    <abp-script src="/Pages/ChallengeUserTotals/index.js" />

}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ExamPermissions.ChallengeUserTotals.Create))
    {
        <abp-button id="NewChallengeUserTotalButton" text="@L["NewChallengeUserTotal"].Value" icon="plus" size="Small" button-type="Primary" />
    }

}



<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="TotalValueFilterMin" label="@L["MinTotalValue"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="TotalValueFilterMax" label="@L["MaxTotalValue"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ChallengeIdFilter" label="@L["Challenge"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IdentityUserIdFilter" label="@L["IdentityUser"].Value" />
            </abp-column>

        </abp-row>

        <abp-table striped-rows="true" id="ChallengeUserTotalsTable">
            <thead>
				<tr>
				    
					<th>@L["Actions"]</th>
					<th>@L["TotalValue"]</th>
					<th>@L["Challenge"]</th>
					<th>@L["IdentityUser"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

