@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Exam.Permissions
@using Exam.Web.Pages.Challenges
@using Exam.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Exam.Localization
@inject IHtmlLocalizer<ExamResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Challenges"].Value;
    PageLayout.Content.MenuItemName = ExamMenus.Challenges;
}

@section styles
{

}

@section scripts
{
    <abp-script src="/Pages/Challenges/index.js" />

}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ExamPermissions.Challenges.Create))
    {
        <abp-button id="NewChallengeButton" text="@L["NewChallenge"].Value" icon="plus" size="Small" button-type="Primary" />
    }

}



<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-date-picker auto-update-input="false" today-button-classes="btn-primary" asp-for="StartDateFilterMin" label="@L["MinStartDate"].Value" />
            </abp-column>

            <abp-column size="_3">
                <abp-date-picker auto-update-input="false" today-button-classes="btn-primary" asp-for="StartDateFilterMax" label="@L["MaxStartDate"].Value" />
            </abp-column>

            <abp-column size="_3">
                <abp-date-picker auto-update-input="false" today-button-classes="btn-primary" asp-for="EndDateFilterMin" label="@L["MinEndDate"].Value" />
            </abp-column>

            <abp-column size="_3">
                <abp-date-picker auto-update-input="false" today-button-classes="btn-primary" asp-for="EndDateFilterMax" label="@L["MaxEndDate"].Value" />
            </abp-column>

            <abp-column size="_3">
                <abp-input asp-for="GoalFilterMin" label="@L["MinGoal"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="GoalFilterMax" label="@L["MaxGoal"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
            </abp-column>

        </abp-row>

        <abp-table striped-rows="true" id="ChallengesTable">
            <thead>
				<tr>
				    
					<th>@L["Actions"]</th>
					<th>@L["Name"]</th>
					<th>@L["StartDate"]</th>
					<th>@L["EndDate"]</th>
					<th>@L["Goal"]</th>
					<th>@L["IsActive"]</th>


				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

